# intellij idea project metadata
.idea

# generated benchmarking scripts and analyses
outputs/*

# ipynb
.ipynb_checkpoints

__pycache__
*.pyc
*.egg-info
.cache/*

analysis/
assets/
benchmark-results-randdm-16k/
